<footer class="relative bg-secondary pt-8 pb-6 shadow-inner text-white">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-center lg:text-left">
            <div class="w-full lg:w-6/12 px-4">
                <h4 class="text-xl font-semibold md:text-3xl">Bodykits4you!</h4>
                <h5 class="text-sm font-light mt-0 mb-2 md:text-lg"> Find us on any of these platforms, we respond 1-2
                    business days. </h5>
                <div class="mt-6 lg:mb-0 mb-6">
                    <!-- button 1 -->
                    <button type="button"
                        class="mx-2">
                        <img src="https://cdn1.iconfinder.com/data/icons/social-media-2285/512/Colored_Facebook3_svg-512.png"
                            class="h-5" alt="">
                        </button>
                            <!-- button 2 -->
                    <button type="button"
                        class="mx-2">
                        <img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-512.png"
                            class="h-5" alt="">
                        </button>
                        <!-- button 3 -->
                    <button type="button"
                        class="mx-2">
                        <img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Whatsapp2_colored_svg-512.png"
                            class="h-5" alt="">
                        </button>
                            <!-- button 4 -->
                    <button type="button"
                        class="mx-2">
                        <img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-512.png"
                            class="h-5" alt=""></button>
                </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
                <div class="flex flex-wrap items-top mb-6">
                    <div class="w-full lg:w-4/12 px-4 ml-auto text-sm md:text-xl">Useful Links
                        <ul class="list-unstyled">
                            <li><a href="https://www.creative-tim.com/presentation?ref=na-footer"
                                    class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-xs md:text-sm font-light">
                                    Terms & Conditions </a></li>
                            <li><a href="https://blog.creative-tim.com?ref=na-footer"
                                    class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-xs md:text-sm font-light">
                                    Return Policy </a></li>
                            <li class="mt-3 text-sm md:text-xl">
                                    Contact Us:</li>
                            <li class="font-light text-xs md:text-sm">
                                info@ereal.com.au <br> House 123, Fb Area Block 14, Karachi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-blueGray-300">
        <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                <div class="text-xs md:text-sm"> Copyright © 2022 Bodykits4you by <a
                        href="https://monis8khan.github.io/get_bootstrapped/" target="_blank"> monis8khan</a>. </div>
            </div>
        </div>
    </div>
</footer>