<!--Main-->
<div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center">

    <!--Left Col-->
    <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden p-5 md:p-0 ">
        <h1
            class="mb-8 text-xl md:text-4xl text-secondary font-bold leading-tight text-center md:text-left slide-in-bottom-h1">
            Welcome to Bodykits4you</h1>
        <p class="text-tertiary font-light text-center md:text-left slide-in-bottom-subtitle text-sm md:text-xl">
            Bodykits4u is a style of aero kits for sports cars designed by Japan's Kei Miura. 
            They're fabricated with a high degree of precision and built using digital laser scans of the cars that the kits adorn. 
            They're built to accentuate features on the cars they match, the features including the fenders, lips, and spoilers.</p>
            <button class="bg-secondary mt-5 hover:bg-tertiary text-basic py-2 px-4 rounded mx-20 sm:mx-0 text-sm md:text-xl">
                Book Now
              </button>
    </div>

    <!--Right Col-->
    <div class="w-full xl:w-3/5 overflow-y-hidden">
        <img class="w-5/6 mx-auto lg:mr-0 slide-in-bottom  transform transition duration-300 ease-in-out hover:-translate-y-2" src="../../../assets/images/s15.jpg">
    </div>

</div>