<!--Main-->
<div class="container md:pt-32 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">

    <!--Left Col-->
    <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
        <h1
            class="my-4 text-3xl md:text-5xl text-blue-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">
            Welcome to bodykits4u</h1>
        <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle">
            We are professional bodykit maker from pakistan</p>
        <p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in">contact us now: <a
                href="mailto:test@test.com">test@test.com</a></p>
    </div>

    <!--Right Col-->
    <div class="w-full xl:w-3/5 overflow-y-hidden">
        <img class="w-5/6 mx-auto lg:mr-0 slide-in-bottom" src="https://www.tailwindtoolbox.com/templates/devices.svg">
    </div>

</div>