<div class='bg-secondary shadow-inner  hidden md:block' style="position: absolute;
  height: 85px;
  width: 100%;
  z-index: -1;">
</div>
<div class="w-full container mx-auto p-6">
  <ul class="justify-between hidden md:flex">
    <li class="mr-3">
      <a class="inline-block rounded text-basic hover:text-tertiary py-2 px-4"
        href="#app-nav-bar">Home</a>
    </li>
    <li class="mr-3">
      <a class="inline-block rounded text-basic hover:text-tertiary py-2 px-4"
        href="#app-services">Services</a>
    </li>
    <li class="text-primary bg-basic rounded-3xl px-5 py-10 shadow-xl">
      <h1 class="text-3xl font-bold">Bodykits4you</h1>
    </li>
    <li class="mr-3">
      <a class="inline-block rounded text-basic hover:text-tertiary py-2 px-4"
        href="#">Project Gallery</a>
    </li>
    <li class="mr-3">
      <a class="inline-block rounded text-basic hover:text-tertiary py-2 px-4"
        href="#app-query-form">Contact Us</a>
    </li>
  </ul>
</div>