<!-- normal menu -->
<div class="hidden md:block" id="home">
  <div class='bg-secondary shadow-inner' style="position: absolute;
    height: 85px;
    width: 100%;
    z-index: -1;">
  </div>
  <div class="w-full container mx-auto p-6">
    <ul class="justify-between flex">
      <li class="mr-3">
        <a class="inline-block rounded text-basic hover:text-tertiary py-2 px-4" href="#services">About Us</a>
      </li>
      <li class="mr-3">
        <a class="inline-block rounded text-basic hover:text-tertiary py-2 px-4" href="#our-products">Our Products</a>
      </li>
      <li class="text-primary bg-basic rounded-3xl px-5 py-10 shadow-xl">
        <h1 class="text-3xl font-bold">Bodykits4you</h1>
      </li>
      <li class="mr-3">
        <a class="inline-block rounded text-basic hover:text-tertiary py-2 px-4" href="#project-gallery">Project Gallery</a>
      </li>
      <li class="mr-3">
        <a class="inline-block rounded text-basic hover:text-tertiary py-2 px-4" href="#contact-us">Contact Us</a>
      </li>
    </ul>
  </div>
</div>


<!-- mobile menu -->
<div class='bg-secondary shadow-inner block md:hidden flex flex-row-reverse items-center justify-between p-5' style="
  height: 85px;
  width: 100%;">
  <!-- Hamburger Icon -->
  <button id="menu-btn" class="block hamburger md:hidden focus:outline-none" (click)="toggleMobileMenu()">
    <span class="hamburger-top"></span>
    <span class="hamburger-middle"></span>
    <span class="hamburger-bottom"></span>
  </button>
  <!-- Mobile Menu -->
  
  <div class="text-primary bg-basic rounded-xl px-3 py-5 shadow-xl md:hidden">
    <h1 class="text-sm">Bodykits4you</h1>
  </div>
  <div class="md:hidden">
      <div id="menu"
          class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-basic sm:w-auto sm:self-center left-6 right-6 drop-shadow-md rounded-3xl">
          <a href="#" class="text-secondary">Home</a>
          <a href="#" class="text-secondary">Service</a>
          <a href="#" class="text-secondary">Project Gallery</a>
          <a href="#" class="text-secondary">Contact Us</a>
      </div>
  </div>
</div>