<div class='bg-primary shadow-md' style="position: absolute;
  height: 100px;
  width: 100%;
  z-index: -1;">
</div>
<div class="w-full container mx-auto p-6">
  <ul class="flex justify-between">
    <li class="mr-3">
      <a class="inline-block rounded text-base hover:text-secondary py-2 px-4"
        href="#">Home</a>
    </li>
    <li class="mr-3">
      <a class="inline-block rounded text-base hover:text-secondary py-2 px-4"
        href="#">Products</a>
    </li>
    <li class="text-primary bg-base rounded-3xl px-5 py-10 shadow-xl">
      <h1 class="text-3xl font-bold">Bodykits4u</h1>
    </li>
    <li class="mr-3">
      <a class="inline-block rounded text-base hover:text-secondary py-2 px-4"
        href="#">Project Gallery</a>
    </li>
    <li class="mr-3">
      <a class="inline-block rounded text-base hover:text-secondary py-2 px-4"
        href="#">Testimonials</a>
    </li>
  </ul>
</div>