<div class="container mx-auto">

    <header class="text-center mx-auto mt-12 lg:px-20">
        <h2 class="text-2xl leading-normal mb-2 font-bold text-secondary">Our Projects</h2>
        <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">We provide best and top of the line
            body kits &amp; car parts.</p>
    </header>
    <div class="px-4 flex flex-wrap flex-row">
        <div
            class="flex-shrink grid-cols-3 p-20 space-y-2 bg-basic rounded-3xl shadow-xl lg:space-y-0 lg:grid lg:gap-3 lg:grid-rows-3 cursor-pointer">

            <div class="w-full col-span-2 row-span-2 rounded" style="height:533px; overflow:hidden;">
                <img [src]="mainImage" alt="image">
            </div>
            <div (click)="onSelect(galleryItem)" *ngFor="let galleryItem of galleryData"
                class="w-full rounded hover:shadow-2xl hover:-translate-y-1" style="height:260px; overflow:hidden">
                <img [src]="galleryItem.url" alt="image">
            </div>

        </div>
    </div>
</div>