<div id="services" class="section relative bg-white">
    <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- Heading start -->
        <header class="text-center mx-auto mb-12 lg:px-20">
            <h2 class="text-2xl leading-normal mb-2 font-bold text-secondary">What We Do</h2>
            <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">We provide best and top of the line body kits &amp; car parts.</p>
        </header>
        <!-- End heading -->
        <!-- row -->

        <div class="flex flex-wrap flex-row text-center">
            <div *ngFor="let service of services " class="flex-shrink px-4 max-w-full w-full sm:w-1/2 md:w-1/2 lg:w-1/3 lg:px-6  wow fadeInUp">
                <!-- service block -->
                <div class="py-8 px-12 mb-12 bg-base shadow rounded-3xl transform transition duration-300 ease-in-out hover:shadow-2xl hover:-translate-y-2">
                    <div class="inline-block mb-4">
                        <!-- icon -->
                        <img src={{service.icon}} width="40px">
                    </div>
                    <h3 class="text-lg leading-normal mb-2 font-semibold text-tertiary">{{service.name}}</h3>
                    <p class="text-secondary font-light">{{service.desc}}</p>
                </div>
                <!-- end service block -->
            </div>
        </div>
        <!-- end row -->
    </div>
</div>