<div class="relative">
    <!-- section header -->
    <app-section-header heading="Testimonials" desc="We provide best and top of the line body kits &amp; car parts."></app-section-header>
    <!-- content -->
    <div class="carousel-inner relative overflow-hidden w-full">
        <!--Slide 1-->
        <div *ngFor="let testimonial of testimonialData" class="container mx-auto px-6 md:px-20" >
            <div *ngIf="toShow === testimonial.id" class="py-5 md:py-10 px-5 md:px-20 bg-base shadow-lg rounded-lg my-5 md:my-20 hover:shadow-2xl">
                <img class="w-20 h-20 object-cover rounded-full border-2 border-primary"
                    src="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=334&amp;q=80">

                <div>
                    <h2 class="text-tertiary mt-5 text-md md:text-3xl">{{testimonial.title}}</h2>
                    <p class="mt-2 font-light text-secondary text-xs md:text-base">{{testimonial.message}}</p>
                </div>
                <div class="flex justify-end mt-4">
                    <a href="#" class="font-medium underline text-tertiary text-sm md:text-xl">{{testimonial.name}}</a>
                </div>
            </div>
        </div>
        <label (click)="slideChange('previous')" for="carousel-3"
            class="prev control-1 w-5 h-5 ml-2  absolute cursor-pointer text-md font-bold text-black hover:text-white rounded-full bg-transparent md:bg-white hover:bg-secondary leading-tight text-center z-10 inset-y-0 left-0 my-auto 
            md:text-3xl md:w-10 md:h-10 md:mr-10 ">‹</label>
        <label (click)="slideChange('next')" for="carousel-2"
            class="next control-1 w-5 h-5 mr-2 absolute cursor-pointer text-md  font-bold text-black hover:text-white rounded-full bg-transparent md:bg-white hover:bg-secondary leading-tight text-center z-10 inset-y-0 right-0 my-auto 
            md:text-3xl md:w-10 md:h-10 md:mr-10">›</label>

</div>